<button type="button" class="btn btn-outline-primary" id="btn_novo_paciente" (click)="open(content)">
  <i class="fa fa-plus" aria-hidden="true"></i>
  &nbsp; Novo
</button>

<!-- Modal para cadastro de novo paciente -->
<ng-template #content let-c="close" let-d="dismiss">
  <div class="modal-header header_modal">
    <h4 class="modal-title">
      <i [class]=[icone] aria-hidden="true"></i>
      {{ titulo }}
    </h4>

    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>

  </div>

  <div class="modal-body">
   <ng-content></ng-content>
  </div>
</ng-template>

<!-- Fim - Modal para cadastro de novo paciente -->


