/* You can add global styles to this file, and also import other style files */
@import '../node_modules/bootstrap/dist/css/bootstrap.css';

.fontColorMenu {
    color: #000;
}

#btn_novo_paciente {
    border: 1px solid #17a2b8;
    background-color: transparent;
    color: #17a2b8;
    margin-bottom: 15px;
}

#btn_novo_paciente:focus {
    border: 1px solid #17a2b8;
}

#btn_novo_paciente:hover {
    background-color: #17a2b8;
    border: transparent;
    color: white;
}