/* You can add global styles to this file, and also import other style files */
@import '../node_modules/bootstrap/dist/css/bootstrap.css';

.fontColorMenu {
    color: #000;
}

#btn_novo_paciente {
    margin-bottom: 15px;
}

.header_modal {
    background-color: #BFEFFF;
}


/* Alteração no tamanho da janela modal de cadastro de pacientes */
.modal-sm {
    /*max-width: 1000px;*/
}
